
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand core-sprite hide-text" href="#">Navbar</a><a class="navbar-brand word-logo hide-text" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <form class="form-inline my-2 my-lg-0 ml-md-auto">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    </form>
    <ul class="navbar-nav mr-auto ml-md-auto ">
      <li class="nav-item active">
        <a class="nav-link explore-icon" href="#">Explore <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link notification-icon" href="#">Notification</a>
      </li>
      <li class="nav-item">
        <a class="nav-link profile-icon" href="#">Profile</a>
      </li>
    </ul>
  </div>
</nav>
