@import "bootstrap";
@import "toastr";

body{
  background-color: #fafafa;
  font-size: 14px;
  color: #262626;
}

.core-sprite{
  background-image: image-url("/assets/insta.png");
  background-size: 50px 37px;
  background-repeat: no-repeat;
}

.word-logo{
  background-image: image-url("/assets/instagram_words_logo.png");
  background-size: 100px 37px;
  background-repeat: no-repeat;
}

.navbar-brand{
  height: 35px;
  width: 100px;
}

.hide-text{
  display: block;
  overflow: hidden;
  text-indent: 110%;
  white-space: nowrap;
}

.box{
  background-color: #fafafa;
  border: 1px solid #e6e6e6;
  border-radius: 1px;
  padding: 10px 0;
  margin: 0 0 10px;
}

.brand-name-img{
  background-position: 0 0;
  height: 51px;
  width: 175px;
}

.landing-right{
   .form-login{
     width: 350px;
     form{
       padding: 0 40px;

       .btn-primary{
        width: 100%;
        line-height: 14px;
        font-size: 14;
        font-weight: 600;
       }

       input{
         border: 1px solid #efefef;
       }

       .form-check-label{
        padding: 0;
        font-size: #262626;
       }
     }
   }

   .brand-name-img{
     margin: 35px auto 8px;
   }

   .redirect-link{
    width: 350px;
   }
}

.profile-wrapper{
  padding: 60px 0;
  border-bottom: 1px solid #efefef;

  .username{
    font-size: 32px;
    line-height: 40px;
    font-weight: 200;
  }

  .email{
    font-size: 16px;
    font-weight: bold;
  }
}

.round-img{
  border-radius: 50%;
}

.common-btn{
  height: 28px;
  line-height: 24px;
  padding: 0 24px;
  border-color: #dbdbdb;
  font-size: 14px;
}

.edit-profile-btn{
  margin: 5px 0 0 15px;
  font-weight: bold;
}

.setting{
  margin: 7px 0 0 10px;
  background-image: image-url('icons8-settings-26.png');
  background-color: transparent;
  height: 24px;
  width: 24px;
  border: none ;
}

.setting:hover{
  cursor: pointer;
}

.profile-icon{
  background-image: image_url('profile.png');
  background-size: 40px 37px;
  background-repeat: no-repeat;
}
